

body {
    display: flex;
    flex-direction: column;
    font-size: 20px;   
}

.header,
.disSite {
    background-color: #1F2937;
    color:white;
}

    .header {
        padding: 20px 200px 20px 200px;
        display: flex;
        justify-content: space-between;
    }

.logo {
    font-weight: 600;
    font-size: larger;
}
a:link {color:white;
text-decoration:none}
a:hover{color: rgb(206, 118, 118);
    text-decoration:none;
}

        .right-links {
            display: flex;
            gap: 30px;
        }

    .content {
        display: flex;
        flex-direction: column;
    }
        .disSite {
        padding: 60px 200px 4% 200px;
        display: flex;
        }

            .siteinfo {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            
                .coolsite {
                    font-size: 48px;
                    font-weight:bolder;
                }

                .sign {
                    background-color: #3882F6;
                    color: #E5E7EB;
                    font-family:'Times New Roman', Times, serif;
                    border-radius: 10px;
                    padding: 10px;
                    font-size: 22px;
                    display: flex;
                }

            .oppie {
            display: flex;
            align-items: center;
            border: 10px solid #3b1919;
            }
        
        .valley {
            padding: 60px 150px 60px 150px;
            display: flex;
            flex-direction: column;
            text-align: center;   
            font-weight: 700;
            gap: 30px;
        }

            .pantheon {
                display: flex;
                flex-direction: row;
                gap: 50px;
                
            }
                .god {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                }
                .demigod {
                   border: 3px solid black;
                    border-radius: 25px;
                    
                }
img {
    min-width: 0;
    width: 100%;
    height:auto;
}

        .quote {
            background-color: #E5E7EB;
            padding: 40px 400px;
            text-align: end;
        }
         
        .signup {
            background-color: #3882F6;
            border: solid #3882F6;
            border-radius: 25px;
            margin: 40px 400px 40px 400px;
            color: white;
            padding: 30px;
            display: flex;
            justify-content: center;
            flex-basis: content;
            gap: 50px;
        }
 .join {
    background-color: #3882F6;
    border: 5px solid white;
                    color: #E5E7EB;
                    font-family:'Times New Roman', Times, serif;
                    border-radius: 10px;
                    padding: 10px;
                    font-size: 22px;
                    display: flex;
 }
 footer {
    background-color: #1F2937;
    color:white;
    padding: 10px;
    text-align: center;
 }